<div class="container">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Transactions</h3>
      <div class="center">
        <button type="button" class="btn btn-success m-3" (click)="addNewTransaction('income')">Add Income</button>
        <button type="button" class="btn btn-secondary m-3" (click)="addNewTransaction('expense')">Add Expense</button>
      </div>
    </div>
  </section>
  <div>
    <app-transaction-filter (applyParams)="queryTransactions($event)"></app-transaction-filter>
  </div>
  <ng-container *ngIf="(transactionPublisher | async) && (transactionPublisher | async)!.count > 0">
    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Account</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Note</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let transaction of (transactionPublisher | async)!.results">
            <th scope="row">{{ transaction.created | date: "YYYY.MM.dd HH:mm" }}</th>
            <td [ngClass]="{'table-success': transaction.amount > 0, 'table-danger': transaction.amount < 0}">
              {{transaction.amount}} HUF
            </td>
            <td style="max-width: 255px; overflow-wrap: break-word;">{{transaction.account.name}}</td>
            <td style="max-width: 255px; overflow-wrap: break-word;">{{transaction.subcategory.name}}</td>
            <td style="max-width: 255px; overflow-wrap: break-word;">{{transaction.note}}</td>
            <td>
              <button (click)="revertTransaction(transaction.id)" class="btn btn-outline-danger btn-sm">&times;</button>
            </td>
          </tr>
      </tbody>
    </table>
    <div class="center">
      <nav *ngIf="(showPaginationLinksPublisher | async)!.previous || (showPaginationLinksPublisher | async)!.next">
        <ul class="pagination">
          <li *ngIf="(showPaginationLinksPublisher | async)!.previous" class="page-item">
            <button class="page-link" (click)="changePage(-1)" tabindex="-1">Previous</button>
          </li>
          <li *ngIf="!(showPaginationLinksPublisher | async)!.previous" class="page-item disabled">
            <button class="page-link" tabindex="-1">Previous</button>
          </li>
          <li *ngIf="(showPaginationLinksPublisher | async)!.next" class="page-item">
            <button class="page-link" (click)="changePage(1)" tabindex="-1">Next</button>
          </li>
          <li *ngIf="!(showPaginationLinksPublisher | async)!.next" class="page-item disabled">
            <button class="page-link" tabindex="-1">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </ng-container>
  <div *ngIf="!(transactionPublisher | async) || (transactionPublisher | async)!.count === 0" class="center text-center">
    <h4>No transactions yet.</h4>
  </div>
</div>
