<ng-container *ngIf="(data | async) && (data | async)!.expenseByMainCategory">
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [results]="(data | async)!.expenseByMainCategory!.thisMonth"
    [gradient]="gradient"
    [label]="label"
    [nameFormatting]="nameFormatting"
    (select)="onSelect($event)"
    *ngIf="!(showPrevMonthData | async)"
  >
  </ngx-charts-advanced-pie-chart>
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [results]="(data | async)!.expenseByMainCategory!.prevMonth"
    [gradient]="gradient"
    [label]="label"
    [nameFormatting]="nameFormatting"
    (select)="onSelect($event)"
    *ngIf="(showPrevMonthData | async)"
  >
  </ngx-charts-advanced-pie-chart>
</ng-container>
