<div class="modal-header">
  <form [formGroup]="form">
    <input type="text" autofocus="autofocus" style="display:none"/>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="name"
          (focusout)="updateMainCategory()"
          class="form-control-lg ml-4"
          id="name"
          style="width:500px"
          required
        >
        <small [hidden]="this.form.get('name')!.valid" class="text-danger row ml-4">
          Name is required. Maximum characters: 50.
        </small>
        <small [hidden]="!this.form.get('name')!.valid" class="text-muted row ml-4">
          Click to edit. Maximum characters: 50.
        </small>
      </div>
    </div>
  </form>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <div>
    <form [formGroup]="form">
      <div class="form-group row">
        <label for="desc" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
          <textarea
            formControlName="description"
            (focusout)="updateMainCategory()"
            class="form-control"
            id="desc"
            rows="2"
            style="width:500px"
          ></textarea>
          <small [hidden]="this.form.get('description')!.valid" class="text-danger ml-1">
           Maximum characters: 100.
          </small>
          <small [hidden]="!this.form.get('description')!.valid" class="text-muted ml-1">
            Click to edit. Maximum characters: 100.
          </small>
        </div>
      </div>
    </form>
  </div>
  <div>
    <table *ngIf="(currentMainCategoryDetails | async) && (currentMainCategoryDetails | async)!.subcategories.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subcategory of ((currentMainCategoryDetails | async)?.subcategories)">
          <td class="text-justify" style="max-width: 255px; overflow-wrap: break-word;">{{subcategory.name}}</td>
          <td class="text-justify" style="max-width: 350px; overflow-wrap: break-word;">{{subcategory.description}}</td>
          <td>
            <div class="btn-group ml-auto" role="group">
              <button type="button" class="btn btn-outline-primary" (click)="editSubcategory(subcategory)">
                Edit
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteSubCategory(subcategory.id)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="(currentMainCategoryDetails | async)?.subcategories?.length === 0" class="text-center">
      <h5>This category has no subcategories.</h5><br />
      <h6>Please add some subcategories to be able to add transactions to this category.</h6>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="addNewSubCategory()">Add subcategory</button>
</div>
