
.income {
  color: green;
}

.expense {
  color: red;
}

.number {
  font-size: 1.75em
}

.f {
  font-size: 0.7em
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-width {
  width: 100%;
}
