<div class="container-xl mb-3">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Dashboard</h3>
    </div>
  </section>
  <div>
    <div id="monthly-stats" class="row card">
      <div class="card-header text-center font-weight-bold">
        <h4>Monthly cash-flow stats</h4>
      </div>
      <div *ngIf="(dashDataPublisher | async) && (dashDataPublisher | async)!.monthlyStats" class="card-body font-weight-bold">
        <div class="row font-weight-bold">
          <div class="col text-center">
            <p>Last Month</p>
          </div>
          <div class="col text-center">
            <p>This Month</p>
          </div>
        </div>
        <div class="row py-2">
          <div class="col border-right">
            <div class="col row center">
              <div class="mx-3">
                <div class="col text-center text-success">
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.lastMonth.income}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Income</small>
                  </div>
                </div>
              </div>

              <div class="mx-3">
                <div
                  class="col text-center"
                  [ngClass]="(dashDataPublisher | async)!.monthlyStats!.lastMonth.sum <= 0 ? 'text-danger' : 'text-success'"
                >
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.lastMonth.sum}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Sum</small>
                  </div>
                </div>
              </div>

              <div class="mx-3">
                <div class="col text-center text-danger">
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.lastMonth.expense}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Expense</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col border-left">
            <div class="col row center">
              <div class="mx-3">
                <div class="col text-center text-success">
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.thisMonth.income}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Income</small>
                  </div>
                </div>
              </div>

              <div class="mx-3">
                <div
                  class="col text-center"
                  [ngClass]="(dashDataPublisher | async)!.monthlyStats!.thisMonth.sum <= 0 ? 'text-danger' : 'text-success'"
                >
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.thisMonth.sum}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Sum</small>
                  </div>
                </div>
              </div>

              <div class="mx-3">
                <div class="col text-center text-danger">
                  <div class="row">
                    <span class="number center">{{(dashDataPublisher | async)!.monthlyStats!.thisMonth.expense}}</span>
                    <span class="font-weight-light mt-2 ml-1 center"> HUF</span>
                  </div>
                  <div class="row center text-center">
                    <small>Expense</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row card">
    <div class="card-header text-center">
      <h4 class="modal-title mb-1">Monthly expenses by category</h4>
      <a type="button" class="mr-1" (click)="changeStatsMonth('prev')" [ngClass]="{'font-weight-bold': !(showPrevMonthData | async)}">
        < Previous month
      </a>
      <a type="button" class="mr-1" (click)="changeStatsMonth('this')" [ngClass]="{'font-weight-bold': (showPrevMonthData | async)}">
        Next month >
      </a>
    </div>
    <div class="card-body">
      <app-expense-piechart></app-expense-piechart>
    </div>
  </div>
  <div class="row card">
    <div class="card-header text-center">
      <h4>Monthly expenses by subcategory</h4>
    </div>
    <div class="card-body center" *ngIf="(subCatStatPublisher | async)">
      <app-expense-card-grid class="mx-auto"></app-expense-card-grid>
    </div>
    <div class="card-body text-center" *ngIf="!(subCatStatPublisher | async)">
      <h3>Please select a category</h3>
    </div>
  </div>
</div>
