<div class="container-sm">
  <div class="text-center my-5">
    <h2>Password change</h2>
  </div>
  <div class="form-group">
    <form [formGroup]="form">
      <div class="form-group row justify-content-md-center">
        <label for="oldpass" class="col-2 col-form-label">Old password</label>
        <div class="col-4">
          <input formControlName="oldPassword" class="form-control" type="password" id="oldpass">
          <small class="form-text text-danger" *ngIf="showBackendErrors | async">
            {{form.get('oldPassword')!.errors?.errors}}
          </small>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="newpass1" class="col-2 col-form-label">New password</label>
        <div class="col-4">
          <input formControlName="newPassword1" class="form-control" type="password" id="newpass1">
          <small class="form-text text-muted">
            Must be at least 8 characters, and contain at least 1 non-numeric character. Valid characters: A-Z, a-z, 0-9, + - _ @.
          </small>
          <small class="form-text text-danger" *ngIf="showBackendErrors | async">
            {{form.get('newPassword1')!.errors?.errors}}
          </small>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="newpass2" class="col-2 col-form-label">Confirm password</label>
        <div class="col-4">
          <input formControlName="newPassword2" class="form-control" type="password" id="newpass2">
          <small class="form-text text-danger" *ngIf="form.get('newPassword2')!.errors && form.get('newPassword1')!.valid">
            {{form.get('newPassword2')!.errors?.notMatch}}
          </small>
          <small class="form-text text-danger" *ngIf="showBackendErrors | async">
            {{form.get('newPassword2')!.errors?.errors}}
          </small>
        </div>
      </div>
    </form>
    <div class="align-items-center justify-content-center my-5" style="display: flex">
      <button type="submit" [disabled]="!form.valid" class="btn-lg btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
