<div class="container text-center">
  <h1>Yaba</h1>
  <h3>Yet Another Budgeting App</h3>
  <main class="container">
    <p class="main">
      YABA is a budgeting app where you can track your income and expenses.
    </p>
    <p class="main font-weight-bold">
      To start using YABA:
    </p>
    <div class="list-group col-sm" >
      <p>Add some accounts <a routerLink="../accounts">here</a>.</p>
      <p>Create income and expense categories and subcategories <a routerLink="../categories">here</a>.</p>
      <p>Start tracking your finances by adding transactions <a routerLink="../transactions">here</a>.</p>
    </div>
  </main>
</div>
