<div class="container text-center">
  <h1>Yaba</h1>
  <h3>Yet Another Budgeting App</h3>
  <main class="container">
    <p class="main">
      YABA is a budgeting app where you can track your income and expenses.
    </p>
    <p class="main">
      To start using YABA:
    </p>
    <ol class="list-group col-sm" >
      <li>Add some accounts <a routerLink="../accounts">here</a>.</li>
      <li>Create income and expense categories and subcategories <a routerLink="../categories">here</a>.</li>
      <li>Start tracking your finances by adding transactions <a routerLink="../transactions">here</a>.</li>
    </ol>
  </main>
</div>
